.errorPage {
  min-height: 100vh;

  h1 {
    text-align: center;
  }

  .errorPage__items {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto;
    gap: 30px;
  }
}
