@import "../utils/variables";
h1 {
  text-align: center;
}

.checkout {
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  width: 90vw;
  margin: 0 auto;
  gap: 30px;

  .checkout__aside {
    flex: 1;
    background-color: $Light-Orange;
    height: max-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    position: sticky;
    top: 0;

    .aside__heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 1.4rem;
        font-weight: 900;
      }
    }
    button {
      padding: 10px 0;
      background-color: $Mustard;
      font-size: 1.4rem;
      color: $Dark-Blue;
      cursor: pointer;
      border: none;
      border-radius: 30px;
    }
  }

  .checkout__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 200px;
    flex: 3;
    .checkout__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $Mustard;
      padding: 20px;
      border-radius: 30px;
      justify-content: space-between;

      h3 {
        margin: 0;
        padding: 10px 0;
      }

      .cancel {
        color: $Custom-Red;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 0;
        font-size: 1.5rem;
      }
      .info {
        display: flex;
        flex-direction: column;

        margin-left: 20px;
        color: $Dark-Blue;
      }
    }
  }

  .checkout__confirm {
    background-color: $Mustard;
    position: absolute;
    width: 100vw;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .checkout__text,
    .confirm__buttons {
      padding: 20px;

      .confirm__button__green {
        color: green;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
        padding: 15px;
      }

      .confirm__button__cancel {
        color: $Custom-Red;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
        padding: 15px;
      }
    }
  }

  .info__quantity {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .info__quantity__buttons {
      font-size: 1.3rem;
      display: flex;
      flex-direction: row;
      gap: 20px;
      button {
        font-size: 1.3rem;
        border: 1px solid $Dark-Blue;
        width: 30px;
        height: 30px;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $Light-Orange;
        color: $Soft-Brown;
      }
    }
  }

  .checkout__empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
