@import "../utils/variables";
.product {
  display: flex;
  gap: 30px;
  max-width: 80vw;
  margin: 0 auto;
  h1 {
    margin: 0;
    padding: 0;
  }

  .image {
    width: 500px;
    height: 300px;
    position: relative;
  }
}
