@import "../utils/variables";
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 30px;
  .card {
    background-color: $Mustard;
    padding: 20px;
    border-radius: 20px;

    h2 {
      text-align: center;
    }
    .card__image {
      position: relative;
      width: 100%;
      height: 150px;
    }
    a {
      text-decoration: none;
      color: currentColor;

      &:hover {
        text-decoration: underline;
      }
    }

    .card__buttons {
      display: flex;
      flex-direction: column;
      gap: 10px 15px;
      a,
      button {
        padding: 20px;
        text-decoration: none;
        text-align: center;
        background-color: $Light-Orange;
        font-size: 1.3rem;
        color: $Soft-Brown;
        border: $Soft-Brown 1px solid;
        cursor: pointer;
      }
    }
  }
}
