@import "../utils/variables";

.header {
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    .nav__linksAndButtons {
      z-index: 9999;
    }
    span a {
      color: $Soft-Brown;
      text-decoration: none;
    }
    .log a {
      color: $Soft-Brown;
      text-decoration: none;
    }
    .navbar {
      display: flex;
      flex-direction: column;
      gap: 6px;
      .bar {
        background-color: $Soft-Brown;
        width: 30px;
        height: 6px;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;
      li {
        list-style: none;
        a {
          text-decoration: none;
          padding: 20px;
          color: $Soft-Brown;
          &:hover {
            border-bottom: 1px solid $Mustard;
          }
        }
      }
    }
  }
}

// Making the dropdown menu for categories
header .ul__categories {
  display: flex;
  position: relative;
  align-items: center;

  .ul__categories__links {
    display: none;
    grid-template-columns: repeat(5, 1fr);
    position: absolute;
    top: 0;
    max-width: 95vw;
    left: -150px;
    background-color: $Custom-Red;
    margin-top: 65px;

    a {
      color: $Soft-Brown;
    }
  }
}

// Making the red dot for the checkout page
header .ul__link {
  position: relative;

  .ul__checkout__icon {
    position: absolute;
    right: 0;
    top: -5px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    border-radius: 50%;
    padding: 2px;
    background-color: $Custom-Red;
  }
}
