@import "../utils/variables";

// Making the navigation responsive

@media (min-width: 700px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      flex: 1;
    }
    .nav__linksAndButtons {
      flex: 3;
    }
    .navbar {
      display: none !important;
    }
    .nav__linksAndButtons {
      display: flex;
      flex-direction: row !important;
      align-items: center;
      justify-content: space-between;
      margin-right: 10px;
    }

    .ul__categories {
      position: relative;
      &:hover {
        .ul__categories__links {
          display: grid;
          margin-top: 5px;
          position: absolute;
          grid-template-columns: repeat(4, 1fr);
          top: 130%;
          left: -125px;
        }
      }
    }
  }
}

// Making the cards responsive
@media (min-width: 0) and (max-width: 699px) {
  .cards {
    width: 100%;
    grid-template-columns: 1fr !important;
    .card {
      margin: 0 50px;
    }
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);

    .card {
      margin: 0 30px;
    }
  }
}

// Making the product page responsive
@media (min-width: 0) and (max-width: 700px) {
  .product {
    span {
      margin: 20px 0;
    }

    .headings {
      display: flex;
      flex-direction: column !important;
      .headings__buttons {
        display: flex;
        flex-direction: column !important;

        a {
          width: 100%;
          margin: 10px auto;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 0) and (max-width: 700px) {
  .categories__main {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (min-width: 0) and (max-width: 800px) {
  .checkout__item {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }

  .checkout {
    flex-direction: column !important;
  }

  .info__quantity {
    align-items: center !important;
    margin: 20px 0 !important;
  }

  .errorPage__items {
    flex-direction: column !important;
    padding: 30px;
  }
}
@media (min-width: 0) and (max-width: 1000px) {
  .product {
    display: flex !important;
    flex-direction: column;
    margin-bottom: 20px;
    .left,
    .right {
      width: 100% !important;
      display: flex;
    }
  }
}
@media (min-width: 801px) {
  .image,
  .cancel {
    flex: 1;
  }
  .info {
    flex: 5;
    align-items: flex-start;
  }
}
