@import "../utils/variables";

// Making the navigation responsive
@media (min-width: 0) and (max-width: 699px) {
  .nav {
    position: relative;
    padding: 20px 10px !important;

    .navbar.open {
      position: relative;
      right: 60vw;
      transition: right 0.6s ease-in-out;
    }
    .navbar.close {
      position: relative;
      right: 0 !important;
      transition: right 0.6s ease-in-out;
    }
    .nav__linksAndButtons {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      flex-direction: column !important;
      background-color: $Mustard;
      margin: 0 !important;
      padding: 0 !important;
      height: 100vh;
      justify-content: space-between !important;
      width: 60vw;
      right: 0;

      ul {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        margin: 0;
        padding: 0;
        li {
          padding: 20px 0;
        }
      }

      ul.open {
        transition: right 1.2s ease-in-out;
        right: 0;
      }
      ul.closed {
        transition: right 1.2s ease-in-out;
        right: 30vw;
      }
      .log {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
      }

      a {
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }
  .nav__linksAndButtons.open {
    right: 0;
    transition: right 0.6s ease-in-out;

    border: 1px solid $Soft-Brown;
  }
  .nav__linksAndButtons.close {
    right: -60vw;
    transition: right 0.6s ease-in-out;
  }

  .ul__categories__list {
    display: none !important;
  }

  .log__details__hover {
    position: relative !important;
    display: flex !important;
  }
  .log__details {
    button {
      display: none;
    }
  }
}

@media (min-width: 700px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      flex: 1;
    }
    .nav__linksAndButtons {
      flex: 3;
    }
    .navbar {
      display: none !important;
    }
    .nav__linksAndButtons {
      display: flex;
      flex-direction: row !important;
      align-items: center;
      justify-content: space-between;
      margin-right: 10px;
    }

    .ul__categories {
      &:hover {
        .ul__categories__links {
          display: grid;
        }
      }
    }
  }
}

// Making the cards responsive
@media (min-width: 0) and (max-width: 699px) {
  .cards {
    width: 100%;
    grid-template-columns: 1fr !important;
    .card {
      margin: 0 50px;
    }
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);

    .card {
      margin: 0 30px;
    }
  }
}

// Making the product page responsive
@media (min-width: 0) and (max-width: 700px) {
  .product {
    span {
      margin: 20px 0;
    }

    .headings {
      display: flex;
      flex-direction: column !important;
      .headings__buttons {
        display: flex;
        flex-direction: column !important;

        a {
          width: 100%;
          margin: 10px auto;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 0) and (max-width: 700px) {
  .categories__main {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (min-width: 0) and (max-width: 800px) {
  .checkout__item {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }

  .checkout {
    flex-direction: column !important;
  }

  .info__quantity {
    align-items: center !important;
    margin: 20px 0 !important;
  }

  .errorPage__items {
    flex-direction: column !important;
    padding: 30px;
  }
}
@media (min-width: 801px) {
  .image,
  .cancel {
    flex: 1;
  }
  .info {
    flex: 5;
    align-items: flex-start;
  }
}
